In [182]:
import urllib.request, json 
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json('https://gramener.com/datasets/ipl-may-2016/matches?_limit=600&_format=json&_meta=y')
#df.head()

In [3]:
print(df.head())
print(df.shape)

         city       date  dl_applied  id player_of_match  result  season  \
0   Bangalore 2008-04-18           0   1     BB McCullum  normal    2008
1  Chandigarh 2008-04-19           0   2      MEK Hussey  normal    2008
2       Delhi 2008-04-19           0   3     MF Maharoof  normal    2008
3      Mumbai 2008-04-20           0   4      MV Boucher  normal    2008
4     Kolkata 2008-04-20           0   5       DJ Hussey  normal    2008

                   team1                        team2 toss_decision  \
0  Kolkata Knight Riders  Royal Challengers Bangalore         field
1    Chennai Super Kings              Kings XI Punjab           bat
2       Rajasthan Royals             Delhi Daredevils           bat
3         Mumbai Indians  Royal Challengers Bangalore           bat
4        Deccan Chargers        Kolkata Knight Riders           bat

                   toss_winner    umpire1         umpire2  umpire3  \
0  Royal Challengers Bangalore  Asad Rauf     RE Koertzen      NaN
1          Chennai Super Kings  MR Benson      SL Shastri      NaN
2             Rajasthan Royals  Aleem Dar  GA Pratapkumar      NaN
3               Mumbai Indians   SJ Davis       DJ Harper      NaN
4              Deccan Chargers  BF Bowden     K Hariharan      NaN

                                        venue  win_by_runs  win_by_wickets  \
0                       M Chinnaswamy Stadium          140               0
1  Punjab Cricket Association Stadium, Mohali           33               0
2                            Feroz Shah Kotla            0               9
3                            Wankhede Stadium            0               5
4                                Eden Gardens            0               5

                        winner
0        Kolkata Knight Riders
1          Chennai Super Kings
2             Delhi Daredevils
3  Royal Challengers Bangalore
4        Kolkata Knight Riders
(577, 18)

In [107]:
#won = df.groupby('winner')['id'].count().sort_values(ascending = False)
#played = []
#for t in won.index:
#    played.append(len(df[(df.team1 == t) | (df.team2 == t)]))

#played = pd.Series(played, index = won.index)
#wonloss_df = pd.DataFrame({'played': played, 'won':won})
#wonloss_df['ratio'] = wonloss_df['won']/wonloss_df['played']
#print(won)
wonloss_df.sort_values('ratio', ascending = False)

                             played  won     ratio
winner
Chennai Super Kings             131   79  0.603053
Mumbai Indians                  140   80  0.571429
Gujarat Lions                    16    9  0.562500
Sunrisers Hyderabad              62   34  0.548387
Rajasthan Royals                118   63  0.533898
Kolkata Knight Riders           132   68  0.515152
Royal Challengers Bangalore     139   70  0.503597
Kings XI Punjab                 134   63  0.470149
Kochi Tuskers Kerala             14    6  0.428571
Delhi Daredevils                133   56  0.421053
Deccan Chargers                  75   29  0.386667
Rising Pune Supergiants          14    5  0.357143
Pune Warriors                    46   12  0.260870

In [ ]:
#wonBySeason = df.groupby(['winner','season'])['id'].count()#.sort_values(ascending = False)
#wonBySeason
playedBySeason = []
for t in df.team1.unique():
    playedBySeason.append(df[(df.team1 == t) | (df.team2 == t)].groupby('season')['id'].count())

len(wonBySeason)
len(playedBySeason)

#BySeason = df.groupby('season')

#BySeason['id'].count()
#wonBySeason.indices

In [85]:
for (method, group) in df.groupby('season'):
    print("{0} shape={1}".format(method, group.shape))
print(df.loc[df.win_by_wickets == 0,:].groupby('season')['win_by_runs'].describe())
print(df.loc[df.win_by_runs == 0,:].groupby('season')['win_by_wickets'].describe())

2008 shape=(58, 18)
2009 shape=(57, 18)
2010 shape=(60, 18)
2011 shape=(73, 18)
2012 shape=(74, 18)
2013 shape=(76, 18)
2014 shape=(60, 18)
2015 shape=(59, 18)
2016 shape=(60, 18)
        count       mean        std  min    25%   50%    75%    max
season
2008     24.0  29.375000  34.291351  1.0   8.25  16.0  35.00  140.0
2009     28.0  27.285714  28.854497  0.0   9.00  15.0  29.75   92.0
2010     32.0  30.500000  21.385856  0.0  13.75  31.0  39.00   98.0
2011     34.0  32.294118  26.309958  0.0  16.25  24.0  41.75  111.0
2012     34.0  28.235294  19.645431  1.0  14.25  26.0  37.75   86.0
2013     39.0  31.820513  28.882586  0.0  10.00  23.0  47.00  130.0
2014     23.0  28.000000  22.735635  0.0  15.00  24.0  33.00   93.0
2015     35.0  24.285714  28.330582  0.0   6.50  18.0  26.50  138.0
2016     21.0  32.190476  36.347791  1.0   9.00  22.0  34.00  144.0
        count      mean       std  min   25%  50%  75%   max
season
2008     34.0  6.500000  2.078024  3.0  5.00  7.0  8.0  10.0
2009     30.0  6.000000  2.117253  0.0  5.25  6.0  7.0  10.0
2010     29.0  6.551724  1.992597  0.0  5.00  7.0  8.0  10.0
2011     40.0  6.625000  2.071634  0.0  6.00  7.0  8.0  10.0
2012     40.0  6.025000  1.716996  2.0  5.00  5.5  7.0  10.0
2013     39.0  5.820513  2.125928  0.0  5.00  6.0  7.0  10.0
2014     38.0  5.921053  1.791596  0.0  5.00  6.0  7.0   9.0
2015     27.0  5.481481  2.873893  0.0  3.50  6.0  7.0  10.0
2016     39.0  6.256410  1.772865  2.0  5.00  6.0  7.0  10.0

In [195]:
for (method, group) in df.groupby('city'):
    print("{0} shape={1}".format(method, group.shape))
#print(df.loc[df.win_by_wickets == 0,:].groupby('city')['win_by_runs'].describe())
#print(df.loc[df.win_by_runs == 0,:].groupby('city')['win_by_wickets'].describe())

Abu Dhabi shape=(7, 18)
Ahmedabad shape=(12, 18)
Bangalore shape=(58, 18)
Bloemfontein shape=(2, 18)
Cape Town shape=(7, 18)
Centurion shape=(12, 18)
Chandigarh shape=(42, 18)
Chennai shape=(48, 18)
Cuttack shape=(7, 18)
Delhi shape=(53, 18)
Dharamsala shape=(9, 18)
Durban shape=(15, 18)
East London shape=(3, 18)
Hyderabad shape=(41, 18)
Indore shape=(2, 18)
Jaipur shape=(33, 18)
Johannesburg shape=(8, 18)
Kanpur shape=(2, 18)
Kimberley shape=(3, 18)
Kochi shape=(5, 18)
Kolkata shape=(54, 18)
Mumbai shape=(77, 18)
Nagpur shape=(3, 18)
Port Elizabeth shape=(7, 18)
Pune shape=(25, 18)
Raipur shape=(6, 18)
Rajkot shape=(5, 18)
Ranchi shape=(7, 18)
Sharjah shape=(6, 18)
Visakhapatnam shape=(11, 18)

In [144]:
#print(df.groupby(['player_of_match','toss_decision'])['id'].count().sort_values(ascending=False)[:20])
#print(df.groupby(['player_of_match'])['id'].count().sort_values(ascending=False)[:20])

top_players = df.groupby('player_of_match')['id'].count().sort_values(ascending = False)[:20]
print(top_players)
df_TopPlayers = df.loc[df.player_of_match.isin(top_players.index),:]

player_of_match
CH Gayle          17
YK Pathan         16
AB de Villiers    15
DA Warner         14
SK Raina          13
RG Sharma         13
MS Dhoni          12
MEK Hussey        12
G Gambhir         12
AM Rahane         12
V Kohli           11
V Sehwag          11
SR Watson         10
JH Kallis         10
DR Smith          10
SE Marsh           9
A Mishra           9
SR Tendulkar       8
KA Pollard         8
AC Gilchrist       7
Name: id, dtype: int64

In [145]:
df_TopPlayers.shape

(229, 18)

In [134]:
winloss = []
for t in df.team1.unique():
    for s in df.season.unique():
        won = len(df[(df.winner == t) & (df.season == s)])
        played = len(df[((df.team1 == t) | (df.team2 == t)) & (df.season == s)])
        if((won != 0) & (played != 0)):
            winloss.append(won/played)
        else:
            winloss.append(0)
        
        
winloss_ser = pd.Series(winloss, 
                        index=pd.MultiIndex.from_product([df.team1.unique(),df.season.unique()]))

In [220]:
#%matplotlib inline
print(winloss_ser)
print(winloss_ser.unstack())
#winloss_ser.unstack().to_csv('./winloss_season.csv')

Kolkata Knight Riders    2008    0.461538
                         2009    0.230769
                         2010    0.500000
                         2011    0.533333
                         2012    0.705882
                         2013    0.375000
                         2014    0.687500
                         2015    0.538462
                         2016    0.533333
Chennai Super Kings      2008    0.562500
                         2009    0.571429
                         2010    0.562500
                         2011    0.687500
                         2012    0.555556
                         2013    0.666667
                         2014    0.625000
                         2015    0.588235
                         2016    0.000000
Rajasthan Royals         2008    0.812500
                         2009    0.461538
                         2010    0.428571
                         2011    0.461538
                         2012    0.437500
                         2013    0.611111
                         2014    0.500000
                         2015    0.500000
                         2016    0.000000
Mumbai Indians           2008    0.500000
                         2009    0.384615
                         2010    0.687500
                                   ...
Pune Warriors            2014    0.000000
                         2015    0.000000
                         2016    0.000000
Sunrisers Hyderabad      2008    0.000000
                         2009    0.000000
                         2010    0.000000
                         2011    0.000000
                         2012    0.000000
                         2013    0.588235
                         2014    0.428571
                         2015    0.500000
                         2016    0.647059
Rising Pune Supergiants  2008    0.000000
                         2009    0.000000
                         2010    0.000000
                         2011    0.000000
                         2012    0.000000
                         2013    0.000000
                         2014    0.000000
                         2015    0.000000
                         2016    0.357143
Gujarat Lions            2008    0.000000
                         2009    0.000000
                         2010    0.000000
                         2011    0.000000
                         2012    0.000000
                         2013    0.000000
                         2014    0.000000
                         2015    0.000000
                         2016    0.562500
Length: 117, dtype: float64
                                 2008      2009      2010      2011      2012  \
Chennai Super Kings          0.562500  0.571429  0.562500  0.687500  0.555556
Deccan Chargers              0.142857  0.562500  0.500000  0.428571  0.266667
Delhi Daredevils             0.500000  0.666667  0.500000  0.285714  0.611111
Gujarat Lions                0.000000  0.000000  0.000000  0.000000  0.000000
Kings XI Punjab              0.666667  0.500000  0.285714  0.500000  0.500000
Kochi Tuskers Kerala         0.000000  0.000000  0.000000  0.428571  0.000000
Kolkata Knight Riders        0.461538  0.230769  0.500000  0.533333  0.705882
Mumbai Indians               0.500000  0.384615  0.687500  0.625000  0.588235
Pune Warriors                0.000000  0.000000  0.000000  0.285714  0.250000
Rajasthan Royals             0.812500  0.461538  0.428571  0.461538  0.437500
Rising Pune Supergiants      0.000000  0.000000  0.000000  0.000000  0.000000
Royal Challengers Bangalore  0.285714  0.562500  0.500000  0.625000  0.533333
Sunrisers Hyderabad          0.000000  0.000000  0.000000  0.000000  0.000000

                                 2013      2014      2015      2016
Chennai Super Kings          0.666667  0.625000  0.588235  0.000000
Deccan Chargers              0.000000  0.000000  0.000000  0.000000
Delhi Daredevils             0.187500  0.142857  0.357143  0.500000
Gujarat Lions                0.000000  0.000000  0.000000  0.562500
Kings XI Punjab              0.500000  0.705882  0.214286  0.285714
Kochi Tuskers Kerala         0.000000  0.000000  0.000000  0.000000
Kolkata Knight Riders        0.375000  0.687500  0.538462  0.533333
Mumbai Indians               0.684211  0.466667  0.625000  0.500000
Pune Warriors                0.250000  0.000000  0.000000  0.000000
Rajasthan Royals             0.611111  0.500000  0.500000  0.000000
Rising Pune Supergiants      0.000000  0.000000  0.000000  0.357143
Royal Challengers Bangalore  0.562500  0.357143  0.500000  0.562500
Sunrisers Hyderabad          0.588235  0.428571  0.500000  0.647059

In [204]:
teams = df.team1.unique()
venues = df.venue.unique()
cities = df.city.unique()

In [212]:
#print(teams)
#print(venues)
#print(cities)
teamhome = {'Kolkata Knight Riders' : 'Kolkata', 'Chennai Super Kings' : 'Chennai', 
'Rajasthan Royals': 'Jaipur', 'Mumbai Indians' : 'Mumbai', 'Deccan Chargers' : 'Hyderabad',
           'Kings XI Punjab' : 'Chandigarh', 'Royal Challengers Bangalore': 'Bangalore',
           'Delhi Daredevils' : 'Delhi', 'Kochi Tuskers Kerala' : 'Kochi', 'Pune Warriors': 'Pune',
           'Sunrisers Hyderabad' : 'Hyderabad', 'Rising Pune Supergiants' :'Pune', 
            'Gujarat Lions' : 'Ahmedabad'}

In [221]:
winloss_types = ['winloss','winlossTosswon','winlossBat','winlossField'] #, 'winlossHome', 'winlossAway']

winloss = []
for t in df.team1.unique():
    for wl in winloss_types:
        won, loss = 0, 0
        if wl == 'winloss':
            won = len(df[df.winner == t])
            played = len(df[(df.team1 == t) | (df.team2 == t)])
        elif wl == 'winlossTosswon':
            won = len(df[(df.winner == df.toss_winner) & (df.winner == t)])
            played = len(df[((df.team1 == t) | (df.team2 == t)) & (df.winner == df.toss_winner)])
        elif wl == 'winlossBat':
            won = len(df[(df.winner == t) & 
               (((df.toss_winner == t) & (df.toss_decision == 'bat'))
                   | ((df.toss_winner != t) & (df.toss_decision == 'field')))])
            played = len(df[((df.team1 == t) | (df.team2 == t)) &
                          (((df.toss_winner == t) & (df.toss_decision == 'bat'))
                           | ((df.toss_winner != t) & (df.toss_decision == 'field')))])
        elif wl == 'winlossField':
            won = len(df[(df.winner == t) & 
               (((df.toss_winner == t) & (df.toss_decision == 'field'))
                   | ((df.toss_winner != t) & (df.toss_decision == 'bat')))])
            played = len(df[((df.team1 == t) | (df.team2 == t)) &
                          (((df.toss_winner == t) & (df.toss_decision == 'field'))
                           | ((df.toss_winner != t) & (df.toss_decision == 'bat')))])
        
        if((won != 0) & (played != 0)):
             winloss.append(np.round(won/played,2))
        else:
            winloss.append(0)
        #print(t,wl, won/played)

In [222]:
winloss_ser2 = pd.Series(winloss, index=pd.MultiIndex.from_product([df.team1.unique(), winloss_types]))
print(winloss_ser2)
print(winloss_ser2.unstack())

Kolkata Knight Riders        winloss           0.52
                             winlossTosswon    0.54
                             winlossBat        0.44
                             winlossField      0.59
Chennai Super Kings          winloss           0.60
                             winlossTosswon    0.60
                             winlossBat        0.58
                             winlossField      0.63
Rajasthan Royals             winloss           0.53
                             winlossTosswon    0.57
                             winlossBat        0.46
                             winlossField      0.59
Mumbai Indians               winloss           0.57
                             winlossTosswon    0.60
                             winlossBat        0.57
                             winlossField      0.58
Deccan Chargers              winloss           0.39
                             winlossTosswon    0.46
                             winlossBat        0.42
                             winlossField      0.34
Kings XI Punjab              winloss           0.47
                             winlossTosswon    0.44
                             winlossBat        0.41
                             winlossField      0.54
Royal Challengers Bangalore  winloss           0.50
                             winlossTosswon    0.45
                             winlossBat        0.44
                             winlossField      0.56
Delhi Daredevils             winloss           0.42
                             winlossTosswon    0.41
                             winlossBat        0.32
                             winlossField      0.50
Kochi Tuskers Kerala         winloss           0.43
                             winlossTosswon    0.50
                             winlossBat        0.29
                             winlossField      0.57
Pune Warriors                winloss           0.26
                             winlossTosswon    0.16
                             winlossBat        0.30
                             winlossField      0.23
Sunrisers Hyderabad          winloss           0.55
                             winlossTosswon    0.54
                             winlossBat        0.49
                             winlossField      0.64
Rising Pune Supergiants      winloss           0.36
                             winlossTosswon    0.38
                             winlossBat        0.00
                             winlossField      0.71
Gujarat Lions                winloss           0.56
                             winlossTosswon    0.55
                             winlossBat        0.17
                             winlossField      0.80
dtype: float64
                             winloss  winlossBat  winlossField  winlossTosswon
Chennai Super Kings             0.60        0.58          0.63            0.60
Deccan Chargers                 0.39        0.42          0.34            0.46
Delhi Daredevils                0.42        0.32          0.50            0.41
Gujarat Lions                   0.56        0.17          0.80            0.55
Kings XI Punjab                 0.47        0.41          0.54            0.44
Kochi Tuskers Kerala            0.43        0.29          0.57            0.50
Kolkata Knight Riders           0.52        0.44          0.59            0.54
Mumbai Indians                  0.57        0.57          0.58            0.60
Pune Warriors                   0.26        0.30          0.23            0.16
Rajasthan Royals                0.53        0.46          0.59            0.57
Rising Pune Supergiants         0.36        0.00          0.71            0.38
Royal Challengers Bangalore     0.50        0.44          0.56            0.45
Sunrisers Hyderabad             0.55        0.49          0.64            0.54

In [194]:
df.groupby(['toss_winner','toss_decision'])['id'].count()

toss_winner                  toss_decision
Chennai Super Kings          bat              44
                             field            22
Deccan Chargers              bat              24
                             field            19
Delhi Daredevils             bat              23
                             field            41
Gujarat Lions                field             8
Kings XI Punjab              bat              25
                             field            39
Kochi Tuskers Kerala         bat               3
                             field             5
Kolkata Knight Riders        bat              30
                             field            39
Mumbai Indians               bat              38
                             field            36
Pune Warriors                bat              11
                             field             9
Rajasthan Royals             bat              28
                             field            35
Rising Pune Supergiants      bat               3
                             field             4
Royal Challengers Bangalore  bat              16
                             field            45
Sunrisers Hyderabad          bat              17
                             field            13
Name: id, dtype: int64