In [31]:
import urllib.request, json 
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv("./IPL_Deliveries_Full.csv")
df.shape

(136598, 21)

In [33]:
df.dtypes

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [263]:
#Build a dictionary of Matches player by each batsman
played = {}
def BuildPlayedDict(x):
    #print(x.shape, x.shape[0], x.shape[1])
    for p in x.batsman.unique():
        if p in played:
            played[p] += 1
        else:
            played[p] = 1

df.groupby('match_id').apply(BuildPlayedDict)
import operator
#x = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
#sorted_x = sorted(x.items(), key=operator.itemgetter(1))
#played_sorted = sorted(played.items(), key=operator.itemgetter(1), reverse = True)
#played_sorted

In [265]:
#average runs per ball, across the 20 overs, while batting 1st or 2nd, by teams
%matplotlib inline
df[df.inning.isin([1,2])].pivot_table(index = 'over', columns=['batting_team','inning'], values = 'total_runs', aggfunc=np.mean, margins= True)

batting_team Chennai Super Kings           Deccan Chargers            \
inning                         1         2               1         2
over
1                       0.843424  0.799410        0.996269  1.085859
2                       1.075975  1.238938        1.261818  1.283654
3                       1.279412  1.198251        1.136882  1.321782
4                       1.142857  1.570588        1.107407  1.339901
5                       1.487234  1.312500        1.172932  1.383838
6                       1.419958  1.397590        1.209924  1.364078
7                       1.077406  1.152047        1.011407  1.051020
8                       1.160000  1.225146        1.167300  1.171717
9                       1.201699  1.314286        1.132075  1.095000
10                      1.129237  1.156740        1.083969  1.084577
11                      1.269474  1.180952        1.287356  1.158163
12                      1.409664  1.101538        1.350943  1.358974
13                      1.282378  1.199377        1.191571  1.099476
14                      1.381857  1.347962        1.262357  1.302198
15                      1.443975  1.360759        1.389513  1.278689
16                      1.430998  1.440000        1.471910  1.135593
17                      1.631250  1.476667        1.651341  1.497238
18                      1.630342  1.531690        1.714286  1.279762
19                      1.733766  1.578125        1.513308  1.394737
20                      1.798246  1.973404        1.530120  1.470588
All                     1.339207  1.307128        1.281250  1.251465

batting_team Delhi Daredevils           Gujarat Lions            \
inning                      1         2             1         2
over
1                    0.901370  1.077406      1.000000  0.936508
2                    1.077562  1.314465      1.135135  1.031250
3                    1.266667  1.182979      0.972222  1.888889
4                    1.419263  1.211538      0.837838  1.677419
5                    1.261236  1.312896      1.675676  1.387097
6                    1.126404  1.202151      1.000000  1.830769
7                    1.019499  1.299127      1.128205  1.569231
8                    1.037572  1.211663      1.270270  1.350000
9                    1.158501  1.256466      1.052632  0.904762
10                   1.048023  1.261438      1.421053  1.206349
11                   1.367816  1.158458      1.138889  1.245902
12                   1.135294  1.334802      0.972222  1.196721
13                   1.227405  1.360619      1.189189  1.032787
14                   1.229651  1.288288      1.111111  1.491525
15                   1.171091  1.110345      1.250000  1.196429
16                   1.299703  1.383495      1.153846  1.672727
17                   1.332378  1.471939      1.459459  1.305085
18                   1.581121  1.491379      1.447368  1.240741
19                   1.721362  1.456311      1.684211  1.344828
20                   1.785016  1.665116      1.378378  1.541667
All                  1.251660  1.284901      1.215633  1.347258

batting_team Kings XI Punjab              ...    Pune Warriors  \
inning                     1         2    ...                2
over                                      ...
1                   0.881818  0.980392    ...         0.874214
2                   1.135945  1.079327    ...         1.159509
3                   1.206897  1.282555    ...         1.271523
4                   1.244656  1.431421    ...         1.275641
5                   1.311778  1.349127    ...         1.121795
6                   1.368910  1.381773    ...         1.181818
7                   1.023753  1.195489    ...         0.923077
8                   1.279720  1.204489    ...         1.109677
9                   1.170960  1.227848    ...         0.954545
10                  1.275294  1.151899    ...         0.857143
11                  1.282297  1.336709    ...         1.045752
12                  1.175772  1.354430    ...         1.164474
13                  1.325301  1.269430    ...         1.189542
14                  1.352941  1.346354    ...         1.251701
15                  1.386635  1.362162    ...         1.256757
16                  1.425837  1.418033    ...         1.359477
17                  1.410628  1.518106    ...         1.129870
18                  1.387560  1.613372    ...         1.127660
19                  1.573171  1.455150    ...         1.083333
20                  1.730392  1.567961    ...         1.355769
All                 1.294849  1.314001    ...         1.130217

batting_team Rajasthan Royals           Rising Pune Supergiants            \
inning                      1         2                       1         2
over
1                    0.991202  0.845771                0.837209  0.818182
2                    1.008902  1.025641                1.136364  1.066667
3                    1.232353  1.100000                1.357143  1.093023
4                    1.283988  1.280702                1.309524  1.181818
5                    1.271903  1.167526                1.500000  1.044444
6                    1.507508  1.170984                1.744186  1.600000
7                    0.970414  1.139949                1.558140  0.886364
8                    1.227545  1.063939                1.363636  1.261905
9                    1.210843  1.201531                1.232558  1.318182
10                   1.366071  1.238845                0.978261  0.928571
11                   1.140719  1.315245                1.186047  1.319149
12                   1.211480  1.400510                1.214286  1.312500
13                   1.122024  1.395887                1.261905  1.266667
14                   1.392216  1.347594                1.045455  0.935484
15                   1.423881  1.367568                1.195652  1.862069
16                   1.342424  1.400585                1.186047  1.440000
17                   1.473846  1.638037                1.750000  1.384615
18                   1.347692  1.527157                1.350000  2.678571
19                   1.438650  1.481343                1.216216  1.333333
20                   1.579618  1.668478                2.194444  2.142857
All                  1.275026  1.267466                1.322733  1.285910

batting_team Royal Challengers Bangalore           Sunrisers Hyderabad  \
inning                                 1         2                   1
over
1                               0.862338  0.981366            0.922078
2                               0.971576  1.122153            1.021552
3                               1.250653  1.260870            1.141026
4                               1.242820  1.319915            1.289474
5                               1.329082  1.264957            1.407725
6                               1.203085  1.230108            1.236052
7                               1.062176  0.965293            1.026087
8                               1.246719  1.189247            1.066667
9                               1.182768  1.373134            1.152174
10                              1.374332  1.106522            1.135371
11                              1.301887  1.375000            1.013393
12                              1.329787  1.153670            1.208145
13                              1.236074  1.387615            1.059908
14                              1.532982  1.333333            1.232877
15                              1.572559  1.323741            1.648649
16                              1.619565  1.543062            1.446429
17                              1.625330  1.496144            1.447964
18                              1.789189  1.816156            1.495536
19                              1.961644  1.667752            1.815451
20                              1.966759  1.531818            1.692982
All                             1.378171  1.300047            1.272807

batting_team                 All
inning               2
over
1             1.082803  0.933966
2             1.339623  1.109248
3             1.282051  1.217452
4             1.233766  1.284080
5             1.268456  1.290210
6             1.409396  1.300938
7             0.993243  1.071589
8             1.101351  1.150296
9             1.059603  1.179847
10            0.986486  1.164694
11            1.136986  1.228957
12            1.170068  1.266734
13            1.183673  1.263280
14            1.219178  1.307546
15            1.417266  1.369511
16            1.362963  1.417931
17            1.119718  1.498257
18            1.617188  1.566976
19            1.697248  1.599495
20            1.276316  1.705629
All           1.237474  1.284494

[21 rows x 27 columns]

In [231]:
#utility function used later
def trybuild(lookuplist, buildlist):
    alist = []
    for i in buildlist.index:
        try:
            #print(i)
            alist.append(lookuplist[i])
            #print(alist)
        except KeyError:
            #print('except')
            alist.append(0)
    return alist

In [283]:
BatsmanStats = df.groupby('batsman').aggregate({'ball': 'count', 'batsman_runs': 'sum'})
BatsmanStats.rename(columns={'ball': 'balls', 'batsman_runs': 'runs'}, inplace=True)
BatsmanStats['strike_rate'] = BatsmanStats['runs']/BatsmanStats['balls'] * 100
BatsmanStats['matches_played'] = [played[p] for p in BatsmanStats.index]
BatsmanStats['average']= BatsmanStats['runs']/BatsmanStats['matches_played']

for dk in df.dismissal_kind.unique():
    if dk in ['nan','hit wicket', 'retired hurt', 'obstructing the field']:
        continue
    lookuplist = df[df.dismissal_kind == dk].groupby('player_dismissed')['player_dismissed'].count()
    BatsmanStats[dk] = trybuild(lookuplist, BatsmanStats)

for r in df.batsman_runs.unique():
    lookuplist = df[df.batsman_runs == r].groupby('batsman')['batsman'].count()
    BatsmanStats[str(r) + 's'] = trybuild(lookuplist, BatsmanStats)

BatsmanStats['6s/match'] = BatsmanStats['6s']/BatsmanStats['matches_played']    
TopBatsman = BatsmanStats.sort_values(['balls','runs'], ascending=False)[:20]
TopBatsman

,balls,runs,strike_rate,matches_played,average,nan,caught,bowled,run out,lbw,stumped,caught and bowled,0s,4s,6s,1s,2s,5s,3s,6s/match
batsman,,,,,,,,,,,,,,,,,,,,
V Kohli,3237,4115,127.123880,132,31.174242,0,68,23,6,6,3,2,1192,361,149,1303,222,0,10,1.128788
SK Raina,3059,4106,134.226872,143,28.713287,0,87,9,10,3,7,7,1081,360,161,1227,219,1,10,1.125874
G Gambhir,3028,3634,120.013210,130,27.953846,0,66,25,15,7,2,4,1167,422,51,1151,222,0,15,0.392308
RG Sharma,2996,3874,129.305741,137,28.277372,0,77,17,9,4,3,5,1082,323,164,1261,163,1,2,1.197080
RV Uthappa,2721,3390,124.586549,130,26.076923,0,78,11,6,10,7,3,1090,341,104,990,182,3,11,0.800000
S Dhawan,2622,3082,117.543860,112,27.517857,0,54,18,13,5,4,2,1077,348,62,972,147,2,14,0.553571
DA Warner,2440,3373,138.237705,100,33.730000,0,56,17,6,3,4,2,950,338,134,830,177,0,11,1.340000
MS Dhoni,2419,3270,135.179826,128,25.546875,0,60,10,6,2,2,3,810,236,140,991,231,0,11,1.093750
CH Gayle,2360,3451,146.228814,91,37.923077,0,47,22,1,6,2,2,1088,282,252,668,67,0,3,2.769231
JH Kallis,2291,2427,105.936272,96,25.281250,0,60,16,5,3,0,1,982,255,44,888,113,1,8,0.458333
AM Rahane,2274,2675,117.634125,89,30.056180,0,46,13,7,4,2,4,882,285,51,895,149,0,12,0.573034
AB de Villiers,2231,3270,146.571044,109,30.000000,0,48,17,8,6,3,1,702,275,142,918,182,0,12,1.302752
KD Karthik,2092,2542,121.510516,121,21.008264,0,64,19,8,10,3,3,783,256,60,839,147,2,5,0.495868
M Vijay,2092,2511,120.028681,99,25.363636,0,48,19,12,9,4,3,930,237,89,663,155,1,17,0.898990
SR Tendulkar,2044,2334,114.187867,78,29.923077,0,36,12,6,8,3,2,874,296,29,721,117,0,7,0.371795
BB McCullum,1954,2435,124.616172,93,26.182796,0,53,14,4,13,2,1,893,248,106,610,94,0,3,1.139785
YK Pathan,1953,2779,142.293907,122,22.778689,0,64,8,10,4,1,2,715,231,143,735,125,0,4,1.172131
R Dravid,1918,2174,113.347237,83,26.192771,0,47,16,6,2,1,5,819,269,28,681,118,2,1,0.337349
AT Rayudu,1884,2325,123.407643,100,23.250000,0,51,12,8,3,6,4,663,198,76,818,128,0,1,0.760000
SR Watson,1869,2557,136.811129,91,28.098901,0,42,24,7,3,2,1,786,252,121,605,97,0,8,1.329670

In [278]:
played_bowler = {}
def BuildPlayedBowlerDict(x):
    #print(x.shape, x.shape[0], x.shape[1])
    for p in x.bowler.unique():
        if p in played_bowler:
            played_bowler[p] += 1
        else:
            played_bowler[p] = 1

df.groupby('match_id').apply(BuildPlayedBowlerDict)
played_bowler

{'A Ashish Reddy': 20,
 'A Chandila': 12,
 'A Flintoff': 3,
 'A Kumble': 42,
 'A Mishra': 112,
 'A Mithun': 16,
 'A Nehra': 82,
 'A Nel': 1,
 'A Singh': 23,
 'A Symonds': 30,
 'A Uniyal': 2,
 'A Zampa': 5,
 'AA Chavan': 13,
 'AA Jhunjhunwala': 10,
 'AA Kazi': 1,
 'AA Noffke': 2,
 'AB Agarkar': 43,
 'AB Dinda': 73,
 'AB McDonald': 10,
 'AC Gilchrist': 1,
 'AC Thomas': 15,
 'AC Voges': 7,
 'AD Mascarenhas': 13,
 'AD Mathews': 42,
 'AD Russell': 34,
 'AF Milne': 1,
 'AG Murtaza': 12,
 'AJ Finch': 5,
 'AL Menaria': 12,
 'AM Nayar': 19,
 'AM Rahane': 1,
 'AM Salvi': 7,
 'AN Ahmed': 17,
 'AP Dole': 3,
 'AR Patel': 45,
 'AS Rajpoot': 6,
 'AS Raut': 5,
 'AUK Pathan': 3,
 'Abdur Razzak': 1,
 'Anand Rajan': 8,
 'Ankit Sharma': 19,
 'Anureet Singh': 18,
 'Azhar Mahmood': 23,
 'B Akhil': 13,
 'B Brainder Sran': 1,
 'B Chipli': 1,
 'B Geeves': 2,
 'B Kumar': 76,
 'B Laughlin': 2,
 'B Lee': 38,
 'BA Bhatt': 15,
 'BAW Mendis': 10,
 'BB Sran': 14,
 'BCJ Cutting': 5,
 'BE Hendricks': 7,
 'BJ Hodge': 20,
 'BJ Rohrer': 1,
 'BMAJ Mendis': 2,
 'BW Hilfenhaus': 17,
 'Bipul Sharma': 21,
 'C Ganapathy': 1,
 'C Munro': 2,
 'C Nanda': 3,
 'CH Gayle': 37,
 'CH Morris': 39,
 'CJ Anderson': 11,
 'CJ Jordan': 9,
 'CJ McKay': 2,
 'CK Kapugedera': 3,
 'CK Langeveldt': 7,
 'CL White': 7,
 'CR Brathwaite': 8,
 'CRD Fernando': 10,
 'D Kalyankrishna': 3,
 'D Salunkhe': 5,
 'D Wiese': 14,
 'D du Preez': 2,
 'DAJ Bracewell': 1,
 'DB Ravi Teja': 2,
 'DE Bollinger': 27,
 'DJ Bravo': 103,
 'DJ Harris': 2,
 'DJ Hooda': 13,
 'DJ Hussey': 26,
 'DJ Muthuswami': 6,
 'DJ Thornely': 4,
 'DJG Sammy': 19,
 'DL Chahar': 2,
 'DL Vettori': 34,
 'DNT Zoysa': 3,
 'DP Nannes': 29,
 'DP Vijaykumar': 9,
 'DR Smith': 37,
 'DS Kulkarni': 66,
 'DT Christian': 23,
 'DW Steyn': 90,
 'F du Plessis': 1,
 'FH Edwards': 6,
 'FY Fazal': 2,
 'GB Hogg': 21,
 'GD McGrath': 14,
 'GH Vihari': 5,
 'GJ Maxwell': 25,
 'GR Napier': 1,
 'GS Sandhu': 2,
 'Gagandeep Singh': 4,
 'Gurkeerat Singh': 6,
 'HH Pandya': 18,
 'HV Patel': 33,
 'Harbhajan Singh': 123,
 'Harmeet Singh': 28,
 'I Malhotra': 1,
 'I Sharma': 71,
 'IC Pandey': 24,
 'IK Pathan': 100,
 'Imran Tahir': 20,
 'Iqbal Abdulla': 46,
 'J Botha': 34,
 'J Suchith': 13,
 'J Syed Mohammad': 11,
 'J Theron': 10,
 'J Yadav': 8,
 'JA Morkel': 87,
 'JD Ryder': 16,
 'JD Unadkat': 34,
 'JDP Oram': 14,
 'JDS Neesham': 4,
 'JE Taylor': 5,
 'JEC Franklin': 15,
 'JH Kallis': 90,
 'JJ Bumrah': 31,
 'JJ van der Wath': 3,
 'JM Kemp': 5,
 'JO Holder': 11,
 'JP Duminy': 47,
 'JP Faulkner': 52,
 'JR Hopes': 20,
 'JW Hastings': 3,
 'Jaskaran Singh': 7,
 'Joginder Sharma': 15,
 'K Goel': 6,
 'K Santokie': 2,
 'K Upadhyay': 3,
 'KA Pollard': 80,
 'KAJ Roach': 2,
 'KC Cariappa': 6,
 'KH Pandya': 11,
 'KJ Abbott': 5,
 'KK Cooper': 25,
 'KMDN Kulasekara': 5,
 'KP Appanna': 13,
 'KP Pietersen': 13,
 'KS Williamson': 1,
 'KV Sharma': 46,
 'KW Richardson': 14,
 'Kamran Khan': 9,
 'Karanveer Singh': 9,
 'Kuldeep Yadav': 3,
 'L Ablish': 3,
 'L Balaji': 73,
 'LA Carseldine': 1,
 'LJ Wright': 6,
 'LMP Simmons': 1,
 'LPC Silva': 1,
 'LR Shukla': 28,
 'LRPL Taylor': 2,
 'M Ashwin': 10,
 'M Kartik': 55,
 'M Manhas': 3,
 'M Morkel': 70,
 'M Muralitharan': 66,
 'M Ntini': 9,
 'M Vijay': 4,
 'M de Lange': 5,
 'MA Khote': 2,
 'MA Starc': 26,
 'MB Parmar': 1,
 'MC Henriques': 43,
 'MF Maharoof': 20,
 'MG Johnson': 43,
 'MG Neser': 1,
 'MJ Clarke': 5,
 'MJ McClenaghan': 26,
 'MK Tiwary': 5,
 'MM Patel': 61,
 'MM Sharma': 61,
 'MN Samuels': 9,
 'MP Stoinis': 7,
 'MR Marsh': 18,
 'MS Gony': 43,
 'Mashrafe Mortaza': 1,
 'Mohammad Asif': 8,
 'Mohammad Hafeez': 4,
 'Mohammed Shami': 21,
 'Mustafizur Rahman': 16,
 'N Rana': 1,
 'ND Doshi': 4,
 'NJ Rimmington': 1,
 'NL McCullum': 2,
 'NLTC Perera': 36,
 'NM Coulter-Nile': 17,
 'P Amarnath': 6,
 'P Awana': 33,
 'P Kumar': 114,
 'P Negi': 24,
 'P Parameswaran': 8,
 'P Prasanth': 1,
 'P Sahu': 5,
 'P Suyal': 5,
 'PC Valthaty': 10,
 'PD Collingwood': 6,
 'PJ Cummins': 4,
 'PJ Sangwan': 33,
 'PM Sarvesh Kumar': 2,
 'PP Chawla': 122,
 'PP Ojha': 90,
 'PV Tambe': 33,
 'Pankaj Singh': 17,
 'Parvez Rasool': 11,
 'R Ashwin': 108,
 'R Bhatia': 88,
 'R Dhawan': 25,
 'R McLaren': 18,
 'R Ninan': 2,
 'R Rampaul': 12,
 'R Sathish': 14,
 'R Sharma': 44,
 'R Shukla': 7,
 'R Tewatia': 4,
 'R Vinay Kumar': 101,
 'RA Jadeja': 100,
 'RA Shaikh': 1,
 'RE van der Merwe': 21,
 'RG More': 2,
 'RG Sharma': 30,
 'RJ Harris': 37,
 'RJ Peterson': 4,
 'RN ten Doeschate': 10,
 'RP Singh': 82,
 'RR Bhatkal': 1,
 'RR Bose': 1,
 'RR Powar': 26,
 'RR Raje': 10,
 'RS Bopara': 14,
 'RS Gavaskar': 1,
 'RV Gomez': 9,
 'RW Price': 1,
 'S Aravind': 28,
 'S Badree': 5,
 'S Dhawan': 6,
 'S Gopal': 6,
 'S Kaul': 11,
 'S Kaushik': 7,
 'S Ladda': 9,
 'S Nadeem': 46,
 'S Narwal': 6,
 'S Rana': 3,
 'S Randiv': 8,
 'S Sreesanth': 44,
 'S Sriram': 2,
 'S Tyagi': 14,
 'S Vidyut': 1,
 'SA Abbott': 2,
 'SA Yadav': 1,
 'SB Bangar': 9,
 'SB Jakati': 55,
 'SB Joshi': 5,
 'SB Styris': 11,
 'SB Wagh': 8,
 'SC Ganguly': 21,
 'SD Chitnis': 2,
 'SE Bond': 8,
 'SJ Srivastava': 14,
 'SK Raina': 62,
 'SK Trivedi': 75,
 'SK Warne': 54,
 'SL Malinga': 98,
 'SM Boland': 2,
 'SM Harwood': 3,
 'SM Pollock': 13,
 'SMSM Senanayake': 8,
 'SN Thakur': 1,
 'SP Narine': 66,
 'SPD Smith': 1,
 'SR Tendulkar': 4,
 'SR Watson': 86,
 'SS Mundhe': 1,
 'SS Sarkar': 2,
 'ST Jayasuriya': 21,
 'STR Binny': 53,
 'SW Tait': 21,
 'Sachin Baby': 2,
 'Sandeep Sharma': 39,
 'Sandeep Sharma (1)': 4,
 'Shahid Afridi': 10,
 'Shakib Al Hasan': 41,
 'Shami Ahmed': 2,
 'Shivam Sharma': 5,
 'Shoaib Ahmed': 7,
 'Shoaib Akhtar': 3,
 'Shoaib Malik': 5,
 'Sohail Tanvir': 11,
 'Sunny Gupta': 1,
 'Swapnil Singh': 1,
 'T Henderson': 2,
 'T Shamsi': 4,
 'T Thushara': 6,
 'TA Boult': 8,
 'TG Southee': 26,
 'TL Suman': 11,
 'TM Dilshan': 25,
 'TP Sudhindra': 3,
 'UT Yadav': 79,
 'Umar Gul': 6,
 'V Kohli': 26,
 'V Pratap Singh': 9,
 'V Sehwag': 15,
 'V Shankar': 1,
 'VR Aaron': 34,
 'VRV Singh': 18,
 'VS Malik': 13,
 'VS Yeligati': 2,
 'VY Mahesh': 17,
 'WA Mota': 7,
 'WD Parnell': 26,
 'WPUJC Vaas': 13,
 'Y Gnaneswara Rao': 1,
 'Y Nagar': 8,
 'Y Venugopal Rao': 20,
 'YA Abdulla': 11,
 'YK Pathan': 76,
 'YS Chahal': 42,
 'Yuvraj Singh': 69,
 'Z Khan': 89}

In [282]:
bowlerByBall = df.groupby('bowler').aggregate({'ball': 'count', 'total_runs': 'sum', 'player_dismissed' : 'count'})
bowlerByBall.columns = ['balls','runs','wickets']
bowlerByBall['economy'] = bowlerByBall['runs']/bowlerByBall['balls'] * 6
bowlerByBall['strikerate'] = bowlerByBall['runs']/bowlerByBall['wickets']
bowlerByBall['matches_played'] = [played_bowler[p] for p in bowlerByBall.index]
bowlerByBall.sort_values(['wickets','economy'], ascending=False)
TopBowlerBywickets = bowlerByBall.sort_values(['wickets','economy'], ascending=False)[:20]
TopBowlerBywickets

                 balls  runs  wickets   economy  strikerate  matches_played
bowler
SL Malinga        2407  2646      159  6.595762   16.641509              98
DJ Bravo          2110  2815      137  8.004739   20.547445             103
A Mishra          2466  2960      132  7.201946   22.424242             112
Harbhajan Singh   2742  3184      128  6.967177   24.875000             123
PP Chawla         2472  3136      127  7.611650   24.692913             122
R Vinay Kumar     2141  2945      123  8.253153   23.943089             101
A Nehra           1842  2339      111  7.618893   21.072072              82
R Ashwin          2359  2552      110  6.490886   23.200000             108
Z Khan            2030  2537      107  7.498522   23.710280              89
RP Singh          1874  2417      100  7.738527   24.170000              82
DW Steyn          2159  2375      100  6.600278   23.750000              90
PP Ojha           1945  2399       99  7.400514   24.232323              90
IK Pathan         2101  2685       97  7.667777   27.680412             100
SP Narine         1594  1673       97  6.297365   17.247423              66
JA Morkel         1807  2409       96  7.998893   25.093750              87
P Kumar           2529  3188       96  7.563464   33.208333             114
SR Watson         1796  2244       95  7.496659   23.621053              86
UT Yadav          1729  2370       89  8.224407   26.629213              79
B Kumar           1730  2026       89  7.026590   22.764045              76
M Morkel          1699  2136       88  7.543261   24.272727              70